nav#toc {
    max-width: $sidebar-width+px;
    ul {
        list-style: none;
        padding: 0em;
        position: sticky;
        position: -webkit-sticky; //Safari...
        top: 1em;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 90vh;
        li {
            &:first-child {
                &>a {
                    font-size: qtr-font-size(-5);
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    border-left: none;
                    padding-left: 0;
                }
            }
            &>a {
                border-left: 2px solid desaturate(qtr-color(5),100);
                border-bottom: none;
                padding: 0.2em 1em;
                font-size: qtr-font-size(-2);
                color: desaturate(qtr-color(2),100);
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &:hover {
                    color: qtr-color();
                    border-color: qtr-color();
                }
                &.H1 {

                }
                &.H2 {
                    // padding-left: 0.5em;
                }
                &.H3 {
                    // padding-left: 0.75em;
                }
                &.H4 {
                    // padding-left: 1em;
                }
                &.H5 {
                    // padding-left: 1.25em;
                }
                &.H6 {
                    // padding-left: 1.5em;
                }
            }
        }
    }
}
